@model IEnumerable<ToDoListInfoViewModel>
@section UserGreeting {
    <div>
        Hello there, lets see what lists you have!
    </div>
}

<h1>Dashboard</h1>



<div class="text-center">
    <a asp-action="Create" class="btn btn-primary">Add New List</a>
</div>

<div class="row mt-4 todolist-index">
    <div class="col-md-8 mx-auto">
        <div class=" todolist-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var list in Model)
                {
                    <tr>
                        <td> <span class="truncate-text">@list.Name</span></td>
                        <td>@list.CategoryName</td>
                        <td>
                            <a asp-controller="ToDo" asp-action="Index" asp-route-listId="@list.Id" class="btn btn-info">Open</a>
                            <a asp-action="Edit" asp-route-id="@list.Id" class="btn btn-warning">Edit</a>
                            <a asp-action="Delete" asp-route-id="@list.Id" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>
</div>
